div.result-panel {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 50%;
  height: 20px;
  border: 2px solid green;
  margin: 20px;
}

.btn-primary{
  margin: 15px;
}

.search {
  display: flex;
  justify-content: center;
}
